*{  
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: #ffe6d5;
    max-width: 100dvw;
    min-height: 100dvh ;
    position: relative;
}
header{
    position: relative;
    .menu{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        height: 60px;
        background-color: #1e004681;
        position: absolute;
    .logo{
        color: orangered;
        font-size: 40px;
        font-weight: 300;
    }

        ul{
            display: flex;
            justify-content: space-between;
            align-items: center;
            li{
                display: block;
                list-style: none;
                color: white;
                width: 100px;
                margin-right: 10px;
                line-height: 40px;
                text-align: center;
                border-radius: 5px;
                &:hover{
                    background-color: rgba(41, 27, 58, 0.562);
                    transition: ease-in-out .3s;
                    
                }
            }
            .boton{
                margin-top: 10px;
                background-color: orangered;
                width: 150px;
                height: 40px;
                border-radius: 10px;
                text-align: center;
                line-height: 40px;
                &:hover{
                    background-color: rgb(102, 10, 207);
                    transition: ease-in-out .3s;
                }
            }
        }
        
    }
    .banner{
        height: 500px;
        background-color: #180000;
    }
    
}
.nube1{
    position: absolute;
    background-image:url(../g1596.png);
    background-repeat: repeat-x;
    height: 40px;
    width: 100%;
    top:460px;
    z-index: 99;
}

main{
    display: grid;
    grid-template-rows: auto auto;
    align-items: center;
    margin: auto;
    min-height: 100dvh;
    width: 90%;
    .capitulo-recomendado{
        min-height:50dvh ;
        .slider-banner{
            width: 100%;
            min-height: 450px;
            /* padding: 100px; */
            .slide{
                display: flex;
                gap: 10px;
                height: 300px;
                margin-top:90px;
                justify-content: space-evenly;
                video{
                    min-width: 450px;
                    background-color: black;
                    border-radius: 6px;
                }
                .tarj-cont{
                    max-width: 40%;
                    padding: 50px;
                    text-align: justify;
                    h3{
                        font-size: 30px;
                        strong{
                            color: orangered;
                        }
                    }
                    .boton{
                        margin-top: 20px;
                        background-color: orangered;
                        width: 150px;
                        height: 40px;
                        border-radius: 10px;
                        text-align: center;
                        line-height: 40px;
                        a{
                            color: #ffe6d5;
                            font-weight: bold;
                            text-decoration: none;
                            width: 150px;
                            height: 40px;
                        }
                        &:hover{
                            background-color: rgb(102, 10, 207);
                            transition: ease-in-out .3s;
                        }
                    }
                }
            }
        }
    }
    h2{
        color: orangered;
    }
    .recientes{
        display: grid;
        gap: 15px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto ;
        margin-bottom: 50px;

        .tarjetas{
            box-sizing: border-box;
            max-width: 380px;
            padding: 10px;
            text-align: center;
            img{
                background-color: #180000;
                width: 95%;
                max-width: 350px;
                height: 200px;
                border-radius: 5px;
            }
        }
    }
}


footer{
    background-color: black;
    height: 100px;
    position: relative;
    bottom: 0;
    .nube{
        background-image: url(../bitmap.png);
        position: absolute;
        height: 60px;
        width: 100%;
        top : -20px;
        z-index: 10;
    }
}
